@import url('C:\Users\Beatriz Marie\OneDrive\Desktop\github io\helvetica-255\Helvetica.ttf');

body {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.header h1 {
  margin: 5px;
}

.nav {
  display: inline-block;
}

.nav a {
  color: #505659;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}
