:root {
  --primary: #2970ab;
  --secondary: #62cbe0;
  --light: #faf8f3;
  --dark: #323034;
}

@font-face {
    font-family: 'Helvetica-custom';
    src: url('assets/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Helvetica-custom';
  src: url('assets/helvetica-light-587ebe5a59211.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Helvetica-custom', sans-serif;
  background-color: var(--light);
}

/* Header contents */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  padding: 16px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 0px 10px;
}

/* Container contents */
.container {
  display: flex;
  flex-direction: column;
  padding: 5vh 15vh;
}

.container-row {
  display: flex;
  flex-direction: row;
  padding: 5vh 15vh;
}

.col {
  display: flex;
  flex: 50%;
  flex-direction: column;
  padding: 16px;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 16px 0px;
  gap: 20px;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.carousel::-webkit-scrollbar {
  display: none;
}

/* make responsive later https://www.w3schools.com/html/html_responsive.asp */
.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: auto;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--light);
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: var(--secondary);
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 12px;
}

button {
  width: fit-content;
  padding: 5px 16px;
  border-radius: 16px;
}

button:hover {
  background-color: var(--secondary);
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 5vh 15vh;
  background-color: var(--dark);
}