/*
          note: my hierarchy for each section would be: 
                divs > nested divs > text > buttons > image / video > misc
              
     "someone's code is their temple, don't walk with your dirty shoes on" 
*/

/* full redo, pure react, no add-ons */


/* general: page ------------------------------------------------------------------------ */
:root {
  --background: #D1EBFF;
  --text-box: #FFFAEE;
  --text: #353535;
}

* {
  margin: 0px;
  padding: 0px;
  scrollbar-width: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Inter Variable', sans-serif;
  background-color: var(--background);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

/* text formatting (no class) ------------------------------------------------------------------------ */
@font-face {
  font-family: 'Inter Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-text@latest/latin-400-normal.woff2) format('woff2'),
       url(https://cdn.jsdelivr.net/fontsource/fonts/dm-serif-text@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

h1 {
  font-family: 'Inter Variable', sans-serif;
  font-size: 1.5rem;
  color: var(--dark);
  margin: 0;
  font-weight: 0px;
}

p {
  font-family: 'Inter Variable', sans-serif;
  color: var(--text);
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: var(--primary);
}

hr {
  margin: 1rem 0rem;
}

/* divs */
.main {
  display: flex;
  height: 100%;
}

.box {
  background-color: var(--text-box);
  margin: 0.2rem;
  border: 1px solid var(--text);
  border-radius: 0.5rem;
  padding: 2rem;
}

.main .column .row {
  background-color: var(--background);
  margin: 0px;
  padding: 0px;
  border: none;
  border-radius: none;
  display: flex;
  min-height: 0;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

